.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-bar {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 4px;
}

.scroll-bar:vertical{
  -fx-padding: 0 2px 0 0;
}

.scroll-bar:horizontal{
  -fx-padding: 2px 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 7.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 7.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 1px;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 1px 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: rgba(0, 0, 0, 0.27);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 4px;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: derive(#4D4C4F, 10.0%);
}

.scroll-bar:horizontal .thumb {
  -fx-pref-height: 7px;
  -fx-min-height: 7px;
}
.scroll-bar:vertical .thumb {
  -fx-pref-width: 7px;
  -fx-min-width: 7px;
}